<div class="field">
	<%= f.label :client_id %><br />
	<%= f.text_field :client_id %>
</div>
<div class="field">
	<%= f.label :date_on %><br />
	<%= f.datetime_select :date_on %>
</div>
<div class="field">
	<%= f.label :date_off %><br />
	<%= f.datetime_select :date_off %>
</div>
<div class="field">
	<%= f.label :court_id %><br />
	<%= f.text_field :court_id %>
</div>
<div class="field">
	<%= f.label :installation_amount %><br />
	<%= f.text_field :installation_amount %>
</div>
<div class="field">
	<%= f.label :daily_monitoring_amount %><br />
	<%= f.text_field :daily_monitoring_amount %>
</div>
<div class="field">
	<%= f.label :payment_agreement_amount %><br />
	<%= f.text_field :payment_agreement_amount %>
</div>
<div class="field">
	<%= f.label :payment_agreement_terms_id %><br />
	<%= f.text_field :payment_agreement_terms_id %>
</div>
<div class="field">
	<%= f.label :program_status_id %><br />
	<%= f.text_field :program_status_id %>
</div>
