<h1>Editing client_enrollment</h1>

<%= form_for(@client_enrollment) do |f| %>
	<%= render :partial => 'shared/notice_messages', :locals => { :css_id_prefix => 'client_enrollment_', :error_messages => f.error_messages } %>

	<%= render :partial => 'form', :locals => { :f => f } %>
	<div class="actions submit">
		<%= f.submit %> or <%= link_to 'cancel', client_enrollments_path %>
	</div>
<% end %>