<h1>Listing Users</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
		<th class="actions"></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
		<td><%= user.email %></td>
    <td class="actions">
			<%= link_to 'Show', user %> | 
    	<%= link_to 'Edit', edit_user_path(user) %> | 
    	<%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
		</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
