<h1>Listing service_providers</h1>

<table>
  <tr>
    <th>Company name</th>
    <th>Subdomain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @service_providers.each do |service_provider| %>
  <tr>
    <td><%= service_provider.company_name %></td>
    <td><%= service_provider.subdomain %></td>
    <td><%= link_to 'Show', root_url(:subdomain => service_provider.subdomain) %></td>
    <td><%= link_to 'Edit', edit_service_provider_path(service_provider) %></td>
    <td><%= link_to 'Destroy', service_provider, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service provider', new_service_provider_path %>
