<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @service_provider.company_name %>
</p>

<p>
  <b>Subdomain:</b>
  <%= @service_provider.subdomain %>
</p>


<%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
<%= link_to 'Back', service_providers_path %>
